*{
    box-sizing: border-box;
  }
  
  body{
    margin:0;
  }
  
  main{
    font-size: 1rem;
  }
  
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';
@import 'base/typography';

@import 'base/typography';

@import 'layout/Header';
@import 'layout/Hero';
@import 'layout/Nav';

@import 'pages/AboutMe';
@import 'pages/Home';
@import 'pages/projects';



