@use '../abstracts/variables';
@use '../abstracts/mixins';

//the headerContaier is a flexbox contaier
//used as a wrapper for the navbar
.header-container{
    @include mixins.flexbox(flex,row,center);
    @include mixins.size(3.13rem,90vh);
    @include mixins.position-absolute(fixed,0,2%);
    z-index: 10;
    border:none;
  }
  
  .menu__button{
    border:none;
    background-color:transparent;
  }
  // this selector is for the small horizontal 
  //bars that when clicked open the fullpage navigation manu
  .menu__bar{
    @include mixins.size(3.9rem,0.42rem);
    background-color: map-get(variables.$menuBar-color,default);
    margin-top: .5rem;
    cursor: pointer;

  //this hover effect changes the opacity and the with of 
  //div when hovered
  .menu__bar:hover{
    // width:500px;
    opacity:.5;
    transition: opacity 500 0.9s ease-in;
    background-color: map-get(variables.$menuBar-color, hovered)
  }
}
 