

.name{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: fixed;
    top:20%;
    left:20%;
    width:500px;
    height: 200px;
    background: blue;
    // opacity:0;
    animation: intro 8s ease-out 0.5 ;
}

.video-container{
    width:100%;
    height: 100vh;
    z-index: -30;

    video{
        width:105% !important;
        height: auto !important;
     }  
}
   
//this keyframe brings down the intro div
@keyframes intro{
    0%{
        transform: translateY(-100%);
        opacity:0;
        transition: opacity 2s ease-in;
    
    }
    30%{
        transform: translateY(10%);
        opacity:0.5;
        transition: opacity 2s ease-in;
 
    }
    
    100%{
        transform: translateY(20%);
        opacity:1;
        transition: opacity 2s ease-in;
    }
}