@import '../abstracts/mixins';

.intro-container{
    display:flex;
    @include prefix-flex-row;
    flex-direction: row;
    position: fixed;
    @include size(100%,100px);
    top:35%;
    background-color: white;
    animation: intro 3.2s ease-in  ;
}

.video-container{
    @include size(100%,100vh);
    z-index: -30;

    video{
        width:105% !important;
        height: auto !important;
     }  
}
   
//this keyframe brings down the intro div

@keyframes intro{
    from{
        transform: translate(0,-100%) ;
        opacity:0;
    }

    1%{
        opacity:0.1;
    }

    10%{
        opacity:0.5;
    }
  
    to{
        transform: translateY(0);
        opacity:1;
    }
}