@import '../abstracts/mixins';
@import '../base/typography';

.intro-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top:20%;
    @include size(100%,500px);
    animation: intro 5s ease-in ;
    
    .enter-left-right-default{
        @include size(100px, 100%);
        font: 30px $meddon;
        color:rgba(255, 255, 255, 0.322);
    }

    .first-name-enter-left{
        @extend .enter-left-right-default;
        animation: enter_left 5s ease-in;
    }

    .space-between{
        @include size(150px,100%)
    }
    .last-name-enter-right{
        @extend .enter-left-right-default;
        animation: enter_right 5s ease-in;
    }
}


.video-container{
    @include size(100%,100vh);
    z-index: -30;

    video{
        @include size(105% !important,auto !important)
     }  
}
   
//this keyframe brings down the intro div
@keyframes intro{
    from{
        transform: translate(0,-100%) ;
        opacity:0;
    }

    1%{
        opacity:0.1;
    }

    5%{
        opacity:0.3;
    }
  
    to{
        transform: translateY(0);
        opacity:0.8;
    }
}

@keyframes enter_left{
    from {
        transform: translateX(-100%);
    }

    to{
        transform: translateX(0);
    }
}
@keyframes enter_right{
    from {
        transform: translateX(100%);
    }

    to{
        transform: translateX(0);
    }
}