@import '../abstracts/variables';
@import '../base/typography';


.fullpage-nav{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    background: $fullpage-gradient;
    z-index: 9;
}


.nav__item{
    list-style: none;
    text-align: center;
    font: 3.13rem $syncopate;

    &:nth-child(2){
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    a {
        text-decoration: none;
        color:map-get($nav-color,default);
        transition: {
            property: font;
            duration: 0.5s;
            timing-function: ease-in;
        }

        h4 {
            margin:0;
        }

        &:hover {
            color: map-get($nav-color,hovered);
            font-size: 3.6rem;
            text-decoration: underline 0.13rem;
        }
    }
}


.social-links-container{
  margin-top: 1.25rem;
  padding-top:1.25rem;

  .socal__link{
    display:inline-block;
    margin-left: 0.94rem;

    a{
        color:map-get($nav-color,default);
        text-decoration: underline solid .5px;
        font-family: $syncopate;
    }

    &a:hover {
        color: map-get($nav-color,hovered);
    }
 }

}

