@import 'base/typography.module';
@import 'abstracts/variables.module';


.fullpageNav{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    background: $fullpage-gradient;
    z-index: 9;
}


.navItem{
    list-style: none;
    text-align: center;
    font: 3.13rem $syncopate;

    &:nth-child(2){
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    a {
        text-decoration: none;
        color:$nav-color;
        transition: {
            property: font;
            duration: 0.5s;
            timing-function: ease-in;
        }

        h4 {
            margin:0;
        }

        &:hover {
            color: rgb(248, 245, 245);
            font-size: 3.6rem;
            text-decoration: underline 0.13rem;
        }
    }
}


.socialLinksContainer{
  margin-top: 1.25rem;
  padding-top:1.25rem;

  .socalLink{
    display:inline-block;
    margin-left: 0.94rem;

    a{
        color:rgba(170, 165, 165, 0.907);
        text-decoration: underline solid .5px;
        font-family: $syncopate;
    }

    &a:hover {
        color: rgb(248, 245, 245);
    }
 }

}


@keyframes title-animation {
    0%{
       transform: transformY(10%) 1s ease-in 1s;
    }

    100%{
        transform: translateY(50%) 1.5s ease-in ;
    }
}