@use"../abstracts/mixins";
@use"../abstracts/variables";
@use"../base/typography";

.projects-body{
    background-color: #000000;
}

.project-video{
    display: inline-block;
    position: relative;
    @include mixins.size(100%,100vh);
    z-index: -100;
}

.page-title{
    @include mixins.flexbox(flex,row,center);
    align-items: center;
    height:2.81rem;
    margin:0rem;
    color:#ffffff;
}


.page-title > h3{
    display:inline-block;
    @include mixins.relative-left(3%);
    font: 2.19rem typography.$fasthand;
}
.back-btn{
    display:inline-block;
    width:4.38rem;
    @include mixins.relative-right(-27%);
    background-color:transparent;
    border: {
        width:0.031rem;
        style:solid;
    }
    color: #ffffff;
    cursor: pointer;
    
}

.projects-banner{
    @include mixins.size(100%,15.63rem);
}

.main-img{
    @include mixins.size(100%,15.63rem);
}

.sample-imgs{
    @include mixins.flexbox(flex,row,space-around);
    width: 100%;
    
    %images-extend{
        @include mixins.size(
            variables.$img-wth, 
            variables.$img-ht
            );
    }

    .project-img,
    .sample__project__img{
        @extend %images-extend;
        margin-top: 0.63rem;

    }
}

.btn-wrapper{
    @include mixins.flexbox(flex,row,center);
    align-items: center;
    @include mixins.size(100%, 8.81rem);

    .flex-item-wrapper{
        @include mixins.flexbox(flex,row,space-around);
        align-items: center;
        @include mixins.size(17.50rem, 8.13rem);
    }

   %btn-styling{
    @include mixins.size(7.50rem,2.19rem);
    border: {
        radius:1rem;
        width:0.09rem;
        style:none;
    }
    background-color: #b5b3b3;
    font: 0.94rem typography.$nothingYouCouldDo;
    color:#ffffff;
    cursor: pointer;
    &:active{
        background-color: #b9b7b7;
        color: #000000;
    }
    &:hover{
        color:#000000;
    }
   }



    .view-live,
    .github-btn{
        @extend %btn-styling;
    }
}

.github-btn > a {
    @extend %btn-styling;
    text-decoration: none;
    color:#ffffff;
}