@use"../abstracts/mixins";
@use"../abstracts/variables";

.project-video{
    display: inline-block;
    position: relative;
    width:100%;
    height: 100vh;
    z-index: -100;
}

.page-title{
    display:flex;
    justify-content: center;
    align-items: center;
    height:45px;
    // background-color: bisque;
}

.projects-banner{
    @include mixins.size(100%,250px);
    background-color: aqua;
}

.sample-imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
    %images-extend{
        @include mixins.size(
            variables.$img-wth, 
            variables.$img-ht
            );
    }

    .project-img,
    .sample__project__img{
        @extend %images-extend;
        margin-top: 10px;

    }
}

.btn-wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include mixins.size(100%, 125px);

    .flex-item-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        @include mixins.size(280px, 130px);
    }

   %btn-styling{
    @include mixins.size(120px,35px);
    border: {
        radius:16px;
        width:1.5px;
        style:none;
    }
    background-color: black;
    color:white;
    cursor: pointer;
    &:active{
        background-color: rgb(185, 183, 183);
        color: black;
    }
   }



    .view-live,
    .github-btn{
        @extend %btn-styling;
    }
}