@use"../abstracts/mixins";
@use"../abstracts/variables";
.page-title{
    display:flex;
    justify-content: center;
    align-items: center;
    height:45px;
    background-color: bisque;
}

.projects-banner{
    @include mixins.size(100%,250px);
    background-color: aqua;
}

.sample-imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    %images-extend{
        @include mixins.size(
            variables.$img-wth, 
            variables.$img-ht
            );
    }
    .project-img{
        @extend %images-extend;
    }
    .sample-img__1{
        @extend %images-extend;
    }
    .sample-img__2{
        @extend %images-extend;
    }
    .sample-img__3{
        @extend %images-extend;
    }
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    
}