@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  font-size: 1rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 3.13rem;
  height: 90vh;
  position: fixed;
  top: 0;
  left: 2%;
  z-index: 10;
  border: none;
}

.menu__button {
  border: none;
  background-color: transparent;
}

.menu__bar {
  width: 3.9rem;
  height: 0.42rem;
  background-color: #521b1b;
  margin-top: 0.5rem;
  cursor: pointer;
}
.menu__bar:hover {
  width: 2rem;
  opacity: 0.5;
  transition: opacity 500 0.8s ease-in;
  background-color: #f47777;
}

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 20%;
  width: 100%;
  height: 31.25rem;
  animation: intro 5s ease-in;
}
.intro-container .enter-left-right-default, .intro-container .last-name-enter-right, .intro-container .first-name-enter-left {
  width: 6.25rem;
  height: 100%;
  font: 1.88rem "Meddon", cursive;
  color: rgba(255, 255, 255, 0.3215686275);
}
.intro-container .first-name-enter-left {
  animation: enter_left 5s ease-in;
}
.intro-container .space-between {
  width: 9.38rem;
  height: 100%;
}
.intro-container .last-name-enter-right {
  animation: enter_right 5s ease-in;
}

.video-container {
  width: 100%;
  height: 100vh;
  z-index: -30;
}
.video-container video {
  width: 105% !important;
  height: auto !important;
}

@keyframes intro {
  from {
    transform: translate(0, -100%);
    opacity: 0;
  }
  1% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.3;
  }
  to {
    transform: translateY(0);
    opacity: 0.8;
  }
}
@keyframes enter_left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes enter_right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.fullpage-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(-65deg, rgba(224, 104, 104, 0.8392156863), rgb(0, 0, 0));
  z-index: 9;
}

.nav__item {
  list-style: none;
  text-align: center;
  font: 3.13rem "Syncopate", sans-serif;
}
.nav__item:nth-child(2) {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.nav__item a {
  text-decoration: none;
  color: rgba(170, 165, 165, 0.907);
  transition-property: font;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.nav__item a h4 {
  margin: 0;
}
.nav__item a:hover {
  color: rgba(170, 165, 165, 0.907);
  font-size: 3.6rem;
  text-decoration: underline 0.13rem;
}

.social-links-container {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
}
.social-links-container .socal__link {
  display: inline-block;
  margin-left: 0.94rem;
}
.social-links-container .socal__link a {
  color: rgba(170, 165, 165, 0.907);
  text-decoration: underline solid 0.03rem;
  font-family: "Syncopate", sans-serif;
}
.social-links-container .socal__linka:hover {
  color: rgba(170, 165, 165, 0.907);
}

.projects-body {
  background-color: #000000;
}

.project-video {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -100;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2.81rem;
  margin: 0rem;
  color: #ffffff;
}

.page-title > h3 {
  display: inline-block;
  position: relative;
  left: 3%;
  font: 2.19rem "Fasthand", cursive;
}

.back-btn {
  display: inline-block;
  width: 4.38rem;
  position: relative;
  right: -27%;
  background-color: transparent;
  border-width: 0.031rem;
  border-style: solid;
  color: #ffffff;
  cursor: pointer;
}

.projects-banner {
  width: 100%;
  height: 15.63rem;
}

.main-img {
  width: 100%;
  height: 15.63rem;
}

.sample-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.sample-imgs .project-img,
.sample-imgs .sample__project__img {
  width: 14.38rem;
  height: 14.38rem;
}
.sample-imgs .project-img,
.sample-imgs .sample__project__img {
  margin-top: 0.63rem;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.81rem;
}
.btn-wrapper .flex-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 17.5rem;
  height: 8.13rem;
}
.btn-wrapper .github-btn > a, .btn-wrapper .view-live,
.btn-wrapper .github-btn {
  width: 7.5rem;
  height: 2.19rem;
  border-radius: 1rem;
  border-width: 0.09rem;
  border-style: none;
  background-color: #b5b3b3;
  font: 0.94rem "Nothing You Could Do", cursive;
  color: #ffffff;
  cursor: pointer;
}
.btn-wrapper .github-btn > a:active, .btn-wrapper .view-live:active,
.btn-wrapper .github-btn:active {
  background-color: #b9b7b7;
  color: #000000;
}
.btn-wrapper .github-btn > a:hover, .btn-wrapper .view-live:hover,
.btn-wrapper .github-btn:hover {
  color: #000000;
}
.github-btn > a {
  text-decoration: none;
  color: #ffffff;
}

.aboutMe-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.81rem;
  background-color: #000000;
}
.aboutMe-header .aboutMe__back__btn {
  position: relative;
  left: 90%;
  top: 0.94rem;
}

.aboutMe-title {
  position: relative;
  width: 170px;
  top: 40vh;
  left: 42vw;
  font-size: 15px;
  color: #ffffff;
}

.aboutMe-title > h1 {
  margin: 0;
}

.aboutMe-banner {
  width: 100vw;
  height: 100%;
  z-index: -30;
}

.aboutMe-banner > img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
