//======================================
// this mixin acts as a shorthand for 
// the width and the heign attribute
//=======================================
@mixin size($width,$height){
    width: $width;
    height: $height;
}

//=========================================
// the purpose of this mixin is to position
//  the top or bottom nav bar in place
//==========================================
@mixin position-absolute($position, $top, $left){
    position: $position;
    top:$top;
    left:$left;
}

@mixin relative-left($position){
    position: relative;
    left:$position;
}

@mixin relative-right($position){
    position: relative;
    right:$position;
}

@mixin flexbox($display,$direction,$content){
    display:$display;
    flex-direction:$direction;
    justify-content: $content;

}