//import of Google font syncopate for the fullpage nav list items

//==========imports =====================
//the following imports and the required urls that are 
// needed for font types to be included into the scss
//========================================
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

//======================================
//these are specific font types that are
//imported for Google fonts
//======================================
$syncopate: 'Syncopate', sans-serif;
$meddon:'Meddon', cursive;
$fasthand: 'Fasthand', cursive;
$nothingYouCouldDo: 'Nothing You Could Do', cursive;

