.fullpageNav{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    background: linear-gradient( to bottom, #691c1c99, black);
}



.navItem:nth-child(2){
    margin-top: 20px;
    margin-bottom: 20px;
}
.navItem{
    list-style: none;
    font-size: 50px;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
}




.navItem > a {
    text-decoration: none;
    color:rgba(170, 165, 165, 0.907);
    /* cursor: pointer; */
}


a > h4 {
    margin:0;
}
.navList > li.navItem > a >h4:hover{
    color:green;
}



