@use"../abstracts/mixins";
@use"../base/typography";

.aboutMe-header{
    @include mixins.position-absolute(fixed,0,0);
    @include mixins.size(100%, 2.81rem);
  background-color: aqua;

  .aboutMe__back__btn{
    @include mixins.relative-left(90%);
    top:0.94rem;
  }
}

.aboutMe-container{
  @include mixins.flexbox(flex,row,center);
  @include mixins.size(100%,100vh);
  
  .aboutMe__img{
   @include mixins.size(40%,100vh);
   background-color: brown;
  }

  .aboutMe__content{
    @include mixins.flexbox(flex,column,flex-start);
    align-items: center;
    @include mixins.size(40%,100vh);
  }

  .aboutMe__content > .space-between{
     height:1.25rem;
  }

  .space-between{
    @include mixins.size(2%,100vh);
  }

  .aboutMe__title{
    height:1.88rem;
    font: 3.13rem typography.$aboutMeFont;
  }

  .aboutMe__subtitle{
    font-family: typography.$aboutMeFont;
  }

 .aboutMe__details > p {
  width:16.88rem;
  font: 0.94rem typography.$aboutMeFont;
 }
}
