@use"../abstracts/mixins";

.aboutMe-header{
    @include mixins.position-absolute(fixed,0,0);
    @include mixins.size(100%, 2.81rem);
  background-color: aqua;

  .aboutMe__back__btn{
    @include mixins.relative-left(90%);
    top:15px;
  }
}
.aboutMe-img-wrapper{
    display:inline-block;
    @include mixins.size(46%,100vh);
    background-color:red;
}

.aboutMe-content{
    display:inline-block;
    @include mixins.size(50%,100vh);
    margin-left:30px;
    background-color: yellow;
}