.headerContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top:0;
  left:2%;
  width:3.13rem;
  z-index: 10;
  height:90vh;
  border:none;
}

.menuButton{
    border:none;
    background-color:transparent;
}

.menuBar{
    background-color: rgb(82, 27, 27);
    height:.22rem;
    width:1.88rem;
    margin-top: .19rem;
    cursor: pointer;
}